        .artist-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          animation: slideIn 1s ease;
        }

        @keyframes slideIn {
           from {
        opacity: 0;
        transform: translateY(-20px);
        }
         to {
         opacity: 1;
         transform: translateY(0);
        }
    }

        .artist-image {
         width: calc(33.33% - 20px);
         text-align: center;
         position: relative; /* Для позиционирования дочерних элементов */
         margin-top: 30px;
  border-radius: 10px;
  overflow: hidden; /* Чтобы текст не выходил за края */
                
        }


      .artist-image .label {
  position: absolute;
  top: 43px; /* отступ сверху */
  left: 60px; /* отступ слева */
  background: rgb(245 245 245); /* полупрозрачный фон */
  color: #242424;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
        }
              
  

        .artist-image img:hover {
        
        }

        .artist-image img {
         width: 300px;
         height: 300px;
         object-fit: cover;
         border-radius: 10px; 
         border: 5px solid #242424;
         margin-top: 30px;
        }

