        @font-face {
            font-family: 'Roboto';
            src: url('fonts/Sair.woff2') format('woff2'),
            url('fonts/Saira.woff') format('woff');
            font-display: swap; 
        }

        body {
			font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #DAD2C8;
            color: #000;
        }
        
        header {
            background-color: #8D7B68;
            color: #fff;
            text-align: center;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        header img {
            max-width: 60px;
            margin-left: 20px;
            animation: fadeIn 1s ease;
			transition: transform 0.3s ease;
        }

        nav ul {
            list-style-type: none;
			align-items: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
            position: relative; 
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            position: relative;
        }

        nav ul li a::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: #fff;
            transition: width 0.3s ease;
        }

        nav ul li a:hover::after {
            width: 100%;
        }

        
        main {
            padding: 20px;
        }

        footer {
           background-color: #8D7B68;
           color: #fff;
           text-align: center;
           padding: 10px 30px;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: space-between;
           margin-top: -40px;
        } 

        .footer-content {
           display: flex;
           align-items: center;
        }

        .footer-content p {
           margin: 0;
        }
		
		.footer-link {
           color: white;
        }
		
		.social-icons img {
           max-width: 30px;
           margin-right: 10px;
		   transition: transform 0.3s ease;
        }

        .social-icons img:hover {
               transform: scale(1.1); 
        }
