.image-description {
    font-size: 12px; 
    text-align: center; 
    margin-top: 10px; 
}

.music-container {
    display: flex;
    overflow-x: auto; 
    padding-bottom: 20px; 
}

.music-item {
    margin-right: 10px; 
    flex-shrink: 0; 
}

.window {
    background-color: #00336a;
    border-radius: 10px 10px 0 0;
    padding: 0;
    color: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: relative;
    top: -231px
}

.window h3 {
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
}

.music-cover {
    position: relative;
    width: 150px; 
    transition: transform 0.3s ease;
}

.music-cover-1 {
    position: relative;
    width: 150px; 
    transition: transform 0.3s ease;
		   
}

.music-cover:hover {
    transform: scale(1.0);
}

.music-cover img {
    width: 100%;
    height: 100%;
    border-radius: 8px; 
}

 .music-cover-1 img {
    width: 100%;
    height: 100%;
    border-radius: 8px; 
}

.play-button {
    position: absolute;
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon, .pause-icon {
    max-width: 100%;
    max-height: 100%;
}

.music-info {
    text-align: center;
}

.seek-bar {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 5px;
    outline: none;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; 
    height: 10px; 
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.seek-bar::-moz-range-thumb {
    width: 10px; 
    height: 10px; 
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.playing {
    background-color: transparent;
}

.music-info {
    text-align: center;
    margin-top: 25px; 
}

.music-title {
    font-size: 11px;
    margin-top: 25px;
    transform: translateY(-25px);
}

.music-container::-webkit-scrollbar {
    height: 10px;
    display: none;
}

.music-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.music-container::-webkit-scrollbar-thumb {
    background: #5d5d5d;
}

.music-container::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
}
