.artist-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          animation: slideIn 1s ease; 
        }

        @keyframes slideIn {
           from {
        opacity: 0;
        transform: translateY(-20px);
        }
         
		to {
        opacity: 1;
        transform: translateY(0);
        }
    }

        .artist-image img {
        max-width: 100%;
        border-radius: 50%;
        border: 5px solid #242424;
         text-align: center;
         position: relative; /* Для позиционирования дочерних элементов */
         margin-top: 30px;
  border-radius: 10px;
  overflow: hidden; /* Чтобы текст не выходил за края */
                
        }

        .artist-image img:hover {
        }

        .artist-image {
           width: calc(100% - 20px);
           text-align: center;
        }
