.artist-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 20px;
          animation: slideIn 1s ease; 
        }

        @keyframes slideIn {
           from {
        opacity: 0;
        transform: translateY(-20px);
        }
         
		to {
        opacity: 1;
        transform: translateY(0);
        }
    }

        .artist-image {
  position: relative; /* чтобы label позиционировался относительно этого блока */
  width: calc(100% - 20px);
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.artist-image img {
  max-width: 100%;
  border-radius: 10px;
  border: 5px solid #242424;
  display: block;
  margin: 0 auto;
}

/* Общие стили для всех label */
.label-1, .label-2, .label-3 {
  position: absolute;
  background: rgb(245, 245, 245);
  color: #242424;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
  white-space: nowrap;
  z-index: 2;
}

  @media (max-width: 480px) { 
    
    .label-1 {   
      bottom: 355px;          
      left: 31.3%;  
      transform: translateX(-50%);   
      font-size: 12px;  
      padding: 4px 8px;   
      background: rgba(245, 245, 245, 0.9);   
      white-space: normal;   
      max-width: 90%;  } 
    
    .label-2 {  
      bottom: 585.1px;      
      left: 19.8%;            
      transform: translateX(0);  
      font-size: 12px;    
      padding: 4px 8px;    
      background: rgba(245, 245, 245, 0.9);    
      white-space: normal;   
      max-width: 90%;  }  
    
    .label-3 {
    
      bottom: 354.2px;      
      right: 56.7%;            
      transform: translateX(0);   
      font-size: 12px;   
      padding: 4px 8px;   
      background: rgba(245, 245, 245, 0.9);  
      white-space: normal;    
      max-width: 90%;  }
  
  }
