.modal {
           display: none;
           position: fixed;
           z-index: 1;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           background-color: rgba(0, 0, 0, 0.9);
           overflow: auto;
           justify-content: center;
           align-items: center;
        }

        body.modal-open {
            overflow: hidden;
        }

        .modal-content {
            margin: auto;
            display: block;
            max-width: 80%;
            max-height: 80%;
        }

        .close {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    transition: background-color .3s, transform .3s;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    text-align: center;
    line-height: 25px; 
}


.prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    user-select: none;
    padding: 10px;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 50%;
    transition: background-color .3s,transform .3s;
    display: flex;
    justify-content: center;
    align-items: center
}

.next:hover {
            background-color: #00336a;

        }

        .prev:hover {
            background-color: #00336a;

        }

.close:hover {
            background-color: #00336a;

        }

.prev {
    left: 50px
}

.next {
    right: 50px
}

.close {
    right: 50px;
    top: -380px
}
