        .music-container {
           display: flex;
           overflow-x: auto; 
           padding-bottom: 20px; 
        }
		
		.music-container::-webkit-scrollbar {
               height: 10px;
		
        }

        .music-container::-webkit-scrollbar-track {
           background: #c7c7c7;
		   border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .music-container::-webkit-scrollbar-thumb {
           background: #242424;
			border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .music-container::-webkit-scrollbar-thumb:hover {
           background: #F44336;
        }

        .music-item {
           margin-right: 20px;
        }

         .music-cover-1 {
           position: relative;
           width: 250px; 
		   overflow: hidden; 
           transition: transform 0.3s ease;
		   
        }

        .music-cover {
           position: relative;
           width: 250px; 
		   overflow: hidden; 
           transition: transform 0.3s ease;
		   
        }
		
	.music-cover:hover {
           transform: scale(0.9);
        }

        .music-cover img {
           width: 100%;
           height: auto;
           border-radius: 10px; 
        }

        .music-cover-1 img {
           width: 100%;
           height: auto;
           border-radius: 10px; 
        }

        .play-button {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           font-size: 24px;
           width: 50px;
           height: 50px;
           border-radius: 50%;
           background-color: rgba(255, 255, 255, 0.8);
           border: none;
           cursor: pointer;
        }

        .play-button:hover {
           background-color: rgb(57 130 184);
        }

        .music-info {
           text-align: center;
        }

        .seek-bar {
           width: 100%;
           height: 5px;
           -webkit-appearance: none;
           appearance: none;
           background: #c7c7c7;
           outline: none;
        }

        .seek-bar::-webkit-slider-thumb {
           -webkit-appearance: none;
           appearance: none;
           width: 12px;
           height: 12px;
           background: #ffffff;
           border-radius: 50%;
           cursor: pointer;
        }

        .seek-bar::-moz-range-thumb {
           width: 12px;
           height: 12px;
           background: #333;
           border-radius: 50%;
           cursor: pointer;
        }

        .playing {
           background-color: rgb(57 130 184);
        }

        .image-description {
            text-align: center; 
            margin-top: 10px; 
        }
