        .music-container {
           display: flex;
           overflow-x: auto; 
           padding-bottom: 20px; 
        }
		
		.music-container::-webkit-scrollbar {
               height: 10px;
		
        }

        .music-container::-webkit-scrollbar-track {
           background: #c7c7c7;
		   border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .music-container::-webkit-scrollbar-thumb {
           background: #242424;
			border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .music-container::-webkit-scrollbar-thumb:hover {
           background: #3982b8;
        }

        .music-item {
           margin-right: 20px;
        }

         .music-cover-1 {
           position: relative;
           width: 250px; 
		   overflow: hidden; 
           transition: transform 0.3s ease;
		   
        }

        .music-cover-1:hover {
           opacity: 0.9; 
        }

        .music-cover {
           position: relative;
           width: 250px; 
		   overflow: hidden; 
           transition: transform 0.3s ease;
		   
        }
		
	.music-cover:hover {
           opacity: 0.9; 
        }

        .music-cover img {
           width: 100%;
           height: auto;
           border-radius: 10px; 
        }

        .music-cover-1 img {
           width: 100%;
           height: auto;
           border-radius: 10px; 
        }

        .play-button {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           font-size: 24px;
           width: 50px;
           height: 50px;
           border-radius: 50%;
           background-color: rgba(255, 255, 255, 0.8);
           border: none;
           cursor: pointer;
        }

        .play-button:hover {
           background-color: rgb(57 130 184);
        }

        .music-info {
           text-align: center;
        }

        .seek-bar {
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #397fb8 0%, #c7c7c7 0%);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 10px 0;
  transition: background 0.2s;
}

/* WebKit track */
.seek-bar::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
  border-radius: 5px;
}

/* WebKit thumb */
.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #242424;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* центрирует по вертикали */
  position: relative;
  z-index: 2;
}

/* Firefox track */
.seek-bar::-moz-range-track {
  height: 6px;
  background: transparent;
  border-radius: 5px;
}

/* Firefox thumb */
.seek-bar::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

        .playing {
           background-color: rgb(57 130 184);
        }

        .image-description {
            text-align: center; 
            margin-top: 10px; 
        }
