       .section {
           margin-bottom: 40px;
           background-color: #8D7B68;
           color: #fddec6;
           padding: 20px;
           border-radius: 10px;
           box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
           transition: background-color 0.3s ease, color 0.3s ease;
		   
        }

        .section h2 {
           color: #fddec6;
        }
		
        h2 {
           font-size: 24px;
           margin-bottom: 10px;
           color: #000;
        }
        
        p {
            font-size: 16px;
            line-height: 1.6;
        }
		
	.section {
            box-shadow: 0 2px 5px rgba(51, 51, 51, 0.5);
        }

        .window {
            background-color: #e83f33;
            border-radius: 10px 10px 0 0;
            padding: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	    position: relative; 
            top: -323px;
        }
	
        a {
            text-decoration: none;
        }

        .section a {
            color: #fddec6;
        }

        .home1 {
             top: 2px;
             position: relative;
        }

        .txt {
            text-align: center;
        }

        .txt1 {
            font-size: 18px;
            line-height: 1.6;
            text-align: center;
        }

        .home1 {
            top: 2px;         
            position: relative;        
        }
